@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-blue-dark: rgb(0, 74, 119);
  --custom-blue-light: rgb(168, 199, 250);
}

.bg-blue-dark {
  background-color: var(--custom-blue-dark);
}

.blue-dark {
  color: var(--custom-blue-dark);
}

.bg-blue-light {
  background-color: var(--custom-blue-light);
}

.blue-light {
  color: var(--custom-blue-light);
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #1e1e1e;
  width: 370px;
}
